<app-timezone class="timezone" [timezone]="'Europe/Budapest'"
  [isActive]="this.activeTimezone === 'Europe/Budapest'" (activeTimezoneChange)="activeTimezoneChanged($event)"></app-timezone>
<app-timezone class="timezone" [timezone]="'US/Pacific'"
  [isActive]="this.activeTimezone === 'US/Pacific'" (activeTimezoneChange)="activeTimezoneChanged($event)"></app-timezone>
<app-timezone class="timezone" [timezone]="'Europe/London'"
  [isActive]="this.activeTimezone === 'Europe/London'" (activeTimezoneChange)="activeTimezoneChanged($event)"></app-timezone>
<!-- teszt -->